.content {
    grid-area: content;
    padding: 30px 30px 10px 10px;

    .title {
        height: 45px;
        margin: 0 0 20px 10px;
    }

    p {
        font-size: 11px;
        color: #424242;
    }

    .content-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        
        img {
            padding: 15px 15px 15px 0;
            width: 215px;
            height: 150px;
        }

        div {
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            padding: 15px 0 15px 15px;

            a {
                font-weight: bold;
                font-size: 16px;
                color: #d1ac66;
                text-decoration: underline;
            }

            p {
                font-size: 11.5px;
                color: #424242;
                margin: 5px 0;
            }

            .more {
                font-size: 11px !important;
            }
        }
    }
}