.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d1ac66;

    ul {
        display: flex;
        flex-direction: row;
        margin-left: 10px;

        li {
            font-size: 0.7rem !important;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            color: #424242;
            text-transform: uppercase;
            font-size: 12px;
            padding: 4px 10px;
            text-wrap: nowrap;

            &.selected {
                background-color: #d1ac66;
                color: white;
            }

            img {
                height: 20px;
            }
        }
    }

    .newsletter {
        width: 100%;
        background-color: #d1ac66;
        display: flex;
        flex-direction: column;
        margin: 3px 0;
        padding: 0 10px;

        h1 {
            color: white;
            font-size: 18px;
            padding: 6px 12px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            gap: 5px; // space between input and button
            width: 100%;

            input, button {
                height: 20px;
                border: none;
                background-color: white;
                font-size: 0.75rem;
                padding: 3px 15px;

                &::placeholder {
                    color: lightgray;
                }
            }

            input {
                flex-grow: 1;
                min-width: 0;
            }

            button {
                flex-shrink: 0;
            }
        }
    }
}

.sidebar {
    grid-area: sidebar;
    background-color: blueviolet;
}

.content {
    grid-area: content;
    background-color: blue;
}