*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100%;
    padding: 10px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.main-layout {
    width: 800px;
    display: grid;
    grid-template-columns: 6fr 1fr 13fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header header header"
        "sidebar spacer content";
}

