.sidebar {
    grid-area: sidebar;

    ul {
        list-style-type: none;
        padding: 30px 10px 30px 20px; 

        li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #e0e0e0;
            padding: 8px 0 5px;

            a {
                text-transform: uppercase;
                text-decoration: none;
                color: #8f8f8f;
                font-size: 16px;
            
                &.subitem {
                    font-size: 12px;
                }
            }

            img {
                height: 20px;
            }
        
            &.selected {
                pointer-events: none;

                a {
                    color: #424242;                
                }
            }

            &.last-subitem {
                border-bottom: 3px solid #e0e0e0;
            }

            &:hover {
                background-color: #cccccc;

                a {
                    color: #d1ac66;
                }
            }
        }
    }

    .rezervation-container {
        padding: 10px 10px 30px 20px; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {
            font-size: 18px;
            color: #d1ac66;
            padding-bottom: 8px;
        }

        span {
            font-size: 12px;
            color: #424242;
        }

        label {
            font-size: 12px;
            margin-top: 10px;
            color: #424242;
        }

        input, textarea {
            width: 100%;
            margin-top: 2px;
            height: 30px;
            padding: 5px;
            border-radius: none;
        }

        textarea {
            height: 70px;
            resize: none;
        }

        button {
            margin-top: 10px;
            background-color: #d1ac66;
            color: white;
            padding: 5px 30px;
            border: none;

            &:hover {
                background-color: #b58e4e;
                cursor: pointer;
            }
        }
    }
}